@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.container {
    color: rgb(168, 175, 175);
    background-color: rgba(108, 84, 92, 0.821);
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;


}

.container .foto {
    border-radius: 20px;
    transition: filter 1s;
    filter: brightness(0.6);
}


.container:hover {
    box-shadow: 0 0 0.5rem #befeff, 0 0 2rem #befeff, 0 0 5rem #befeff;
    transition: 1s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.759);
    color:  rgb(77, 14, 31);
}

.container:hover .foto:hover {
    filter: brightness(1);
}

.corazon {
    background-color: rgba(0, 0, 0, 0.711);
    color: white;
    border: none;
    border-radius: 100%;
    margin: 5px;
}

.close {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.767);
    border-radius: 100%;
    margin-left: 20px;
}
