@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.containerFav {
    color: rgb(168, 175, 175);
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.select {
    display: flex;
    border-radius: 20px;
    border: none;
    margin: 3px;
    font-family: 'Share Tech Mono', monospace;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;
}

.selectContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}